{% extends 'layout.html' %}
{% block content %}
    <h1>About</h1>
        <!-- component -->
    <div class="">  
        <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
            <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
            <div class="md:5/12 lg:w-5/12">
                <img src="https://tailus.io/sources/blocks/left-image/preview/images/startup.png" alt="image" loading="lazy" width="" height="">
            </div>
            <div class="md:7/12 lg:w-6/12 text-white">
                <h2 class="text-2xl  font-bold md:text-4xl">Kiddo Care is carried out by passionate healthcare practionares</h2>
                <p class="mt-6 text-black-600">The Kido Care Health Care Package is specifically designed to provide comprehensive support and specialized care for individuals diagnosed with Autism and Cerebral Palsy. Our package aims to enhance the well-being and quality of life for patients by offering a range of services tailored to their unique needs.</p>
                <p class="mt-4 text--600"> <li>Therapeutic Interventions</li>
                    <li>Individualized Treatment Plans</li>
                    <li>Behavioral Support</li>
                    <li>Parent and Caregiver Education</li>
                    <li>Social and Recreational Activities</li>
                    <li>Access to Support Networks</li>
                    <li>Care Coordination</li></p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
