{% extends 'layout.html' %}
{% block content %}
    <h1>About</h1>
    <section class="mb-20">
        <div class="bg-black bg-center h-60 ml-20 mr-20">
            <h1 class="text-center font-semibold text-center text-5xl pt-10 text-gray-200">Our Story</h1>
        </div>
        <div class="flex items-center flex-col">
            <div class="-m-12">
                <img style="width: 500px;" src="../static/images/pexels-anna-shvets-11369378.jpg">
            </div>
            <div class="text-center mt-14 text-gray-100 text-2xl pt-10" style="width: 500px;"> 
                <p><span class="text-4xl font-semibold">S</span>ociety and parents in general are happy with healthy children running, playing and laughing with their peers.Parents also need to bond and communicate with their children.
                Some parents and children are robbed of this chance due to conditions such as autism and cerebral palsy.As a parent when faced with this challenge you can feel helpless and defeated.
                You dont have to feel helpless because studies have shown early detection is crucial for preventing or subduiing the symptoms. Giving your child a fighting chance to a normal life</p>
            </div>
        </div>
    </section>

        <!-- component -->
   <!-- <div class="mt-20">  
        <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
            <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
            <div class="md:5/12 lg:w-5/12">
                <img src="https://tailus.io/sources/blocks/left-image/preview/images/startup.png" alt="image" loading="lazy" width="" height="">
            </div>
            <div class="md:7/12 lg:w-6/12 text-white">
                <h2 class="text-2xl  font-bold md:text-4xl">Kiddo Care is carried out by passionate healthcare practionares</h2>
                <p class="mt-6 text-black-600">The Kido Care Health Care Package is specifically designed to provide comprehensive support and specialized care for individuals diagnosed with Autism and Cerebral Palsy. Our package aims to enhance the well-being and quality of life for patients by offering a range of services tailored to their unique needs.</p>
                <p class="mt-4 text--600"> <li>Therapeutic Interventions</li>
                    <li>Individualized Treatment Plans</li>
                    <li>Behavioral Support</li>
                    <li>Parent and Caregiver Education</li>
                    <li>Social and Recreational Activities</li>
                    <li>Access to Support Networks</li>
                    <li>Care Coordination</li></p>
            </div>
            </div>
        </div>
    </div>-->
    <section class="bg-gradient-to-t from-gray-100 to-gray-400 pt-5">
        <div class="flex justify-between">
            <div class="mr-10">
                <img style="width:900px;" src="../static/images/pexels-bm-creatives-15891442.jpg">
            </div>
            <div>
                <h2 class="text-2xl  font-bold md:text-4xl">Kiddo Care is carried out by passionate healthcare practionares</h2>
                <p class="mt-6 text-black-600">The Kido Care Health Care Package is specifically designed to provide comprehensive support and specialized care for individuals diagnosed with Autism and Cerebral Palsy. Our package aims to enhance the well-being and quality of life for patients by offering a range of services tailored to their unique needs.</p>
                <p class="mt-4 text--600"> <li>Therapeutic Interventions</li>
                    <li>Individualized Treatment Plans</li>
                    <li>Behavioral Support</li>
                    <li>Parent and Caregiver Education</li>
                    <li>Social and Recreational Activities</li>
                    <li>Access to Support Networks</li>
                    <li>Care Coordination</li></p>
            </div>
        </div>

    </section>
    <section class="bg-black pt-5">
        <div class="flex justify-between items-center ml-96 pb-10">
          <div class="pt-6 mr-20">
            <img class="h-8" src="../static/images/instagram-icon.png">
          </div>
          <div class="pt-6">
            <img class="h-8 mr-20" src="../static/images/facebook-icon.png">
          </div>
          <div class="pt-6">
            <img class="h-8 mr-20" src="../static/images/twitter-icon.png">
          </div>
          <div class="pt-6 mr-96">
            <img class="h-8" src="../static/images/phone-icon.png">
          </div>
        </div>
        
  
      </section>
{% endblock %}
