{% extends 'layout.html' %}
{% block content %}
    <h1>About</h1>
    <section class="mb-20">
        <div class="bg-black bg-center h-60 ml-20 mr-20">
            <h1 class="text-center font-semibold text-center text-5xl pt-10 text-gray-200">Our Story</h1>
        </div>
        <div class="flex items-center flex-col">
            <div>
                <img class="h-96 -m-12" src="../static/images/pexels-anna-shvets-11369378.jpg">
            </div>
            <div class="text-center mt-14 text-gray-200"> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. </br>Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor venenatis.</br> Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum fermentum vel tincidunt neque. Sed sed lacinia lectus. Duis sit amet sodales felis. </br>Duis nunc eros, mattis at dui ac, convallis semper risus. In adipiscing ultrices tellus, in suscipit massa vehicula eu.</p>
            </div>
        </div>
    </section>

        <!-- component -->
    <div class="mt-20">  
        <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
            <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
            <div class="md:5/12 lg:w-5/12">
                <img src="https://tailus.io/sources/blocks/left-image/preview/images/startup.png" alt="image" loading="lazy" width="" height="">
            </div>
            <div class="md:7/12 lg:w-6/12 text-white">
                <h2 class="text-2xl  font-bold md:text-4xl">Kiddo Care is carried out by passionate healthcare practionares</h2>
                <p class="mt-6 text-black-600">The Kido Care Health Care Package is specifically designed to provide comprehensive support and specialized care for individuals diagnosed with Autism and Cerebral Palsy. Our package aims to enhance the well-being and quality of life for patients by offering a range of services tailored to their unique needs.</p>
                <p class="mt-4 text--600"> <li>Therapeutic Interventions</li>
                    <li>Individualized Treatment Plans</li>
                    <li>Behavioral Support</li>
                    <li>Parent and Caregiver Education</li>
                    <li>Social and Recreational Activities</li>
                    <li>Access to Support Networks</li>
                    <li>Care Coordination</li></p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
