{% extends 'layout.html' %}
{% block content %}
    <h1>{{ current_user.username }}</h1>
    <div class="w-full max-w-xs ml-60 border-solid border-inherit border px-6">
        {% with messages =get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}

                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST" action="">
            {{ form.hidden_tag () }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 bg-purple-400">Fill in the survey</legend>
                
                <div class="form-group">
                    {{ form.first_name.label(class="form-control-label") }}
                    {% if form.first_name.errors %}
                        {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
    
                        </div>
                    {% else %}
                        {{ form.first_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.second_name.label(class="form-control-label") }}
                    {% if form.second_name.errors %}
                        {{ form.second_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.second_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
    
                        </div>
                    {% else %}
                        {{ form.second_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.date_of_birth.label(class="form-control-label") }}
                    {% if form.date_of_birth.errors %}
                        {{ form.date_of_birth(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.date_of_birth.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
    
                        </div>
                    {% else %}
                        {{ form.date_of_birth(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.medical_history(class="form-control-label") }}
                    {% if form.medical_history.errors %}
                        {{ form.medical_history(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.medical_history %}
                                <span>{{ error }}</span>
                            {% endfor %}
    
                        </div>
                    {% else %}
                        {{ form.medical_history(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <p>
                    {{ form.gender.label }}
                    {{ form.gender() }}
                </p>
        
                {% if form.gender.errors %}
                    <ul class="errors">
                        {% for error in form.gender.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        
                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info bg-purple-400 shadow hover:shadow-lg") }}
    
            </div>
{% endblock %}