<!DOCTYPE html>
<html>
  <head>
    <meta name="viewpoint", content="with=device-width, initial scale=1.0">
    <title>Kiddo care website</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <section class="min-h-screen w-full bg-cover bg-center bg-gradient-to-t from-purple-500 to-pink-500">
      <nav class="flex justify-between px-24 h-16 items-center">
        <div>
            <!--<svg class="w-12 h-12" fill="none" stroke="currentColor" viewbox="0 0
            24 24" xmlns="http://www.w3.org/2000/svg"> <path stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2"d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1  1 0 001-1V5a1 1 0 00-1-1H4a1 1 0
            00-1 1v14a1 10 001 1z"></path></svg>-->
        </div>
        <div>
          
          <a class="hover:text-blue-800 py-6 px-4 text-white" href="{{ url_for('home') }}">HOME</a>
         
          <a class="hover:text-blue-800 py-6 px-4 text-white" href="{{ url_for('about') }}">ABOUT</a>
          {% if current_user.is_authenticated %}
            <a class="hover:text-blue-800 py-6 px-4 text-white" href="{{ url_for('account') }}">ACCOUNT</a>
            <a class="hover:text-blue-800 py-6 px-4 text-white" href="{{ url_for('logout') }}">LOGOUTt</a>
          {% else %}
            <a class="hover:text-blue-800 py-6 px-4 text-white" href="{{ url_for('login') }}">LOGIN</a>
          
            <a class="hover:text-blue-800 py-6 px-4 text-white" href="{{ url_for('register') }}">REGISTER</a>
        
          {% endif %}
          
        </div>
      </nav>
    <div class="text-white absolute top-50 left-50 text-center mt-32 mb-20">
      <h1 class="mb-6 font-bold text-5xl">Welcome to Kiddo care</h1>
      <p class="mb-10 ml-40">Our main goal is to assist you in your parenting journey.Through guidance in growth development and helping you notice early signs of cerebral palsy and autism</p>
      <a class="inline-block border-solid border bg-transparent px-0.5 py-1 mb-10" href="">See About Us to learn More</a>
    </div>
    <div class="flex justify-start items-center mt-96">
      <div>
        <img class="h-80 ml-10" src="../static/images/erika-giraud-4EFeD-VTgu4-unsplash.jpg">
      </div>
      <div class="ml-10">
        <h1 class="mb-6 font-bold text-3xl text-gray-100">Why Kiddo Care</h1>
        <p class="text-gray-200">Conditions like Autism and Cerebral palsy can go unoticed if a parent is not keen at the infancy stage</br>
          Kiddo care will walk with you step by step in your child's growth journey, keeping you informed </br>and alerting you
          on the red flags that may appear that can easily go unoticed.
        </p>
      </div>
    </div>
      

    </section>
    <section class="bg-gradient-to-t from-gray-100 to-gray-400 pt-5">
      <div class="text-white font-semibold text-center text-2xl">
        <h1>You deserve happy and healthy children</h1>
      </div>
      <div class="flex justify-between items-center">
        <div>
          <img class="h-96 mr-20 ml-20" src="../static/images/pexels-alena-darmel-7322398.jpg">
        </div>
        <div>
          <img class="h-80 mr-20" src="../static/images/pexels-anna-shvets-11369378.jpg">
        </div>
        <div>
          <img class="h-96 mr-10" src="../static/images/pexels-ron-lach-10044378.jpg">
        </div>
      </div>
    </section>
    <section class="bg-gradient-to-t from-pink-500 to-purple-500">
      <div class="text-white font-semibold text-center text-2xl">
        <h1 class="pt-20">Testimonials</h1>
      </div>
      <div class="flex justify-start items-center">
        <div class="ml-10 border-solid border bg-transparent">
          <h1 class="font-semibold text-center pt-10 text-black">Mary</h1>
          <p class="text-black">Pellentesque habitant morbi tristique senectus et netus et malesuada fames</br> ac turpis egestas.Pellentesque habitant morbi tristique senectus </br>et netus et malesuada fames ac turpis egestas </p>
        </div>
        <div class="ml-10 border-solid border bg-transparent">
          <h1 class="font-semibold text-center pt-10 text-black">Leah</h1>
          <p class="text-black">Pellentesque habitant morbi tristique senectus et netus et malesuada </br>fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,</br> tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</br> Aenean ultricies mi vitae est.</p>
        </div>
        <div class="border-solid border bg-transparent ml-10">
          <h1 class="font-semibold text-center pt-10 text-black">Leah</h1>
          <p class="text-black">Pellentesque habitant morbi tristique senectus et netus et malesuada </br>fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,</br> tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</br> Aenean ultricies mi vitae est.</p>

        </div>
      </div>
      <div class="flex justify-start items-center ml-96 pb-10">
        <div class="pt-20 mr-20">
          <img class="h-8" src="../static/images/instagram-icon.png">
        </div>
        <div class="pt-20">
          <img class="h-8 mr-20" src="../static/images/facebook-icon.png">
        </div>
        <div class="pt-20">
          <img class="h-8 mr-20" src="../static/images/twitter-icon.png">
        </div>
        <div class="pt-20">
          <img class="h-8" src="../static/images/phone-icon.png">
        </div>
      </div>
      
    </section>

    <section class="bg-gradient-to-t from-gray-100 to-gray-400 pt-5">
      <div></div>

    </section>
  </body>
</html>
